{% extends 'base.html.twig' %}

{% block title %}Paiement{% endblock %}

{% block body %}
    <h1>Paiement pour {{ item.name }}</h1>
    <p>Prix : {{ item.price }} €</p>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}
