{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mx-auto p-6" style="padding-bottom:60px">
        <h1 class="text-2xl font-bold text-center mb-6">Liste des Items</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            {% for item in items %}
                <div class="card bg-base-100 shadow-xl border border-gray-500">
                    <a href={{ path('item_show', {'id': item.id}) }} class="flex flex-col flex-nowrap" >
                        <img src="https://picsum.photos/320/220?random{{item.id}}" alt="{{ item.name }}" class="rounded-t-lg"/>
                        <div class="card-body p-4">
                            <h2 class="card-title text-lg font-semibold">{{ item.name }}</h2>
                            <p class="text-gray-600">{{ item.description ?: 'Aucune description disponible.' }}</p>
                            <p class="text-blue-500 font-bold">Prix : {{ item.price | number_format(2, ',', ' ') }} €</p>
                            <p class="text-gray-500 text-sm">Ajouté le : {{ item.dateAdded|date('d/m/Y') }}</p>
                            <div class="card-actions justify-end">
                                <!-- Bouton de paiement -->
                                <a href="{{ path('app_payment', {'id': item.id}) }}" class="btn btn-primary">Acheter</a>
                            </div>
                        </div>
                    </a>
                </div>
            {% else %}
                <p class="col-span-full text-center text-gray-500">Aucun item disponible pour le moment.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
